<div class="iq-sidebar " >
   <div class="iq-sidebar-logo d-flex justify-content-between">
      <a href="index.html" class="header-logo">
         <img src="assets/images/logo.png" class="img-fluid rounded-normal" alt="">
         <div class="logo-title">
            <span class="text-primary text-uppercase">BookLand</span>
         </div>
      </a>
   </div>
   <div id="sidebar-scrollbar">
      <nav class="iq-sidebar-menu">
         <ul id="iq-sidebar-toggle" class="iq-menu">
            <li class="active active-menu">
               <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true">
                  <span class="ripple rippleEffect"></span>
                  <i class="las la-home iq-arrow-left"></i>
                  <span>Trang Chủ</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
               <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
               </ul>
            </li>
         
            <li *ngIf="authService.roleMatch(['ADMIN', 'EMPLOYEE'])">
               <!-- Only show this item if the user does NOT have the 'CUS' role -->
               <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                  <i class="las la-file-alt iq-arrow-left"></i>
                  <span>Dashboard</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
            </li>

            <li class=" active-menu" *ngIf="authService.roleMatch(['ADMIN'])">
               <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="admin" class="iq-submenu collapse " data-parent="#iq-sidebar-toggle">
                  <li ><a routerLink="/quanlynhanvien"><i class="ri-file-pdf-line"></i>Quản lý Nhân Viên</a></li>
                  <li ><a routerLink="/AuthorsAdmin"><i class="ri-book-line"></i>Tác giả</a></li>
                  <li ><a routerLink="/bookadmin"><i class="ri-file-pdf-line"></i>Sách</a></li>
                  <li ><a routerLink="/ListkhoAdmin"><i class="ri-file-pdf-line"></i>Kho</a></li>
                  <li ><a routerLink="/BanSaoSachList"><i class="ri-file-pdf-line"></i>Bản Cứng Sách</a></li>
                  <li ><a routerLink="/AdminListTheloai"><i class="ri-file-pdf-line"></i>Thể loại</a></li>
                  <li ><a routerLink="/Report"><i class="ri-file-pdf-line"></i>Reports</a></li>
               </ul>
            </li>

            <li *ngIf="authService.roleMatch(['EMPLOYEE','ADMIN'])">
            <a href="#PMT" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="ri-book-line"></i><span>Quản Lí Phiếu Mượn Trả </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="PMT" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a routerLink="/MuonOnline"><i class="ri-book-line"></i>Đặt mượn sách online </a></li>
                  <li><a routerLink="/PhieuMuonList"><i class="ri-book-line"></i>Phiếu Mượn </a></li>
                  <li><a routerLink="/TablePhieuTra"><i class="ri-book-line"></i>Phiếu Trả</a></li>
                  <li><a  routerLink="/TablePhieuPhat"><i class="ri-book-line"></i>Phiếu Phạt</a></li>
               </ul>
            </li>
            
            <li class=" active-menu" *ngIf="authService.roleMatch(['ADMIN', 'EMPLOYEE'])">
               <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Chức năng của nhân viên</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="userinfo" class="iq-submenu collapse " data-parent="#iq-sidebar-toggle">
                  <li><a routerLink="/hoivienlist"><i class="las la-th-list"></i>Hội Viên List</a></li>
               </ul>
            </li>
             <li *ngIf="authService.roleMatch(['CUS'])"><a routerLink="/NapTien"><i class="ri-book-line"></i>Nạp Tiền</a></li>

            <li><a (click)="this.signOut()"><i class="ri-book-line"></i>Logout</a></li>
         </ul>
      </nav>
   </div>
</div>