<app-aside-admin></app-aside-admin>
<div id="content-page" class="content-page">
  <div class="container">
    <div class="container-form">
      <h3> Tạo Phiếu Phạt </h3>
      <form #phieuPhatForm="ngForm" >
        
        <!-- Mã Hội Viên -->
        <div class="form-group">
          <label for="maHV">Mã Hội Viên</label>
          <input class="form-control" id="maHV" name="maHV" [(ngModel)]="maHV" readonly />
        </div>
        <div class="form-group">
            <label for="maHV">Mã Phiếu Trả</label>
            <input class="form-control" id="maPT " name="maPT " [(ngModel)]="maPT " readonly />
          </div>

        <!-- Số Ngày Quá Hạn -->
        <div class="form-group">
          <label for="soNgayQuaHan">Số Ngày Quá Hạn</label>
          <input 
            class="form-control" 
            type="number" 
            id="soNgayQuaHan" 
            name="soNgayQuaHan" 
            [(ngModel)]="soNgayQuaHan" 
            (ngModelChange)="calculateTienPhat()" 
            placeholder="Nhập số ngày quá hạn" 
            required 
          />
        </div>

        <!-- Tiền Phạt -->
        <div class="form-group">
          <label for="tienPhat">Tiền Phạt</label>
          <input 
            class="form-control" 
            type="text" 
            id="tienPhat" 
            name="tienPhat" 
            [value]="tienPhat" 
            readonly 
          />
        </div>

        <!-- Mã Nhân Viên -->
        <div class="form-group">
          <label for="maNV">Mã Nhân Viên</label>
          <input class="form-control" id="maNV" name="maNV" [(ngModel)]="maNV" readonly />
        </div>

        <!-- Nút Submit và Quay lại -->
        <div class="form-group d-flex justify-content-between">
          <button type="button" class="btn btn-warning" (click)="goBack()">Quay lại</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Lưu Phiếu Phạt</button>
        </div>

      </form>
    </div>
  </div>
</div>
