.container-form {
    max-width: 1000px;          /* Giới hạn độ rộng form */
    margin: 0 auto;            /* Căn giữa container */
    padding: 20px;             /* Thêm khoảng trống bên trong */
    background-color: #f9f9f9; /* Màu nền nhẹ nhàng */
    border: 1px solid #ddd;    /* Đường viền nhẹ */
    border-radius: 10px;       /* Bo góc mềm mại */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 15px;       /* Khoảng cách giữa các trường form */
}

.form-control {
    width: 100%;               /* Độ rộng tối đa cho input */
    padding: 10px;             /* Thêm khoảng trống bên trong input */
    border: 1px solid #ccc;    /* Đường viền nhẹ cho input */
    border-radius: 5px;        /* Bo góc input */
}


.table {
    margin-top: 20px;          /* Khoảng cách trên cho bảng */
}
.button-row {
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 10px;
    font-size: 14px;
}

.btn-block {
    width: 20%;
}

.btn-sm {
    font-size: 12px;
    padding: 5px 10px;
}
