<app-aside-admin></app-aside-admin>
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Tìm Kiếm Thông Tin Sách Đã Mượn Theo Người Dùng </h4>
                        </div>

                        <div class="search-bar d-flex align-items-center">
                            <input type="text" class="form-control" placeholder="Nhập mã hội viên" [(ngModel)]="maHV" />
                            <button class="btn btn-primary ml-1 w-50" (click)="searchPhieuTra()">Tìm Kiếm</button>
                        </div>

                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã Phiếu Mượn</th>
                                        <th>Tên Sách Muợn </th>
                                        <th>Ngày Mượn</th>
                                        <th>Ngày Hẹn Trả</th>
                                        <th>Mã HV </th>
                                        <th>Mã NV lập phiếu mượn </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let phieuTra of phieuTraList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ phieuTra.phieuMuon.maPM }}</td>
                                        <td>{{ phieuTra.banSaoSach.sach.tenSach}}</td>
                                        <td>{{ phieuTra.phieuMuon.ngayLapPhieu | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ phieuTra.phieuMuon.hanTraSach | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ phieuTra.phieuMuon.hoiVien.maHV }}</td>
                                        <td>{{ phieuTra.phieuMuon.nhanVien.maNV }}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="iq-header-title">
                        <h4 class="card-title">Trả Sách </h4>
                    </div>
                    <div class="iq-card-body">
                        <div class="">
                            <div>
                              <video #videoElement style="width: 20%; height: auto;" autoplay></video>
                              <div>
                                <p>Kết quả: {{ result }}</p>
                                <button (click)="startScanning()">Quét Mã Vạch</button>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>