.content-page {
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Làm mờ nhẹ nền */
    background-image: url('img/background2.jpg'); /* Đường dẫn đến ảnh nền */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
.iq-card {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Nền mờ trắng với độ mờ 80% */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Đổ bóng */
    backdrop-filter: blur(5px); /* Làm mờ nền phía sau */
    margin-bottom: 30px;
}
.iq-card label {
    font-weight: bold;
}

.card-title {
    text-align: center; /* Căn giữa theo chiều ngang */
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin: 20px 0; /* Giảm margin-bottom để tạo khoảng cách đồng đều */
    text-transform: uppercase;
    border-bottom: 2px solid #007bff;
    padding: 10px; /* Thêm padding để tạo khoảng cách với nội dung */
    letter-spacing: 1px;
    background-color: aqua;
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 60px; /* Đặt chiều cao nếu cần */
    border-radius: 10px;
}
