       <!-- Sidebar  -->
       <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
           <a href="index.html" class="header-logo">
              <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
              <div class="logo-title">
                 <span class="text-primary text-uppercase">BookLand</span>
              </div>
           </a>
           <div class="iq-menu-bt-sidebar">
              <div class="iq-menu-bt align-self-center">
                 <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                 </div>
              </div>
           </div>
        </div>
        <div id="sidebar-scrollbar">
           <nav class="iq-sidebar-menu">
              <ul id="iq-sidebar-toggle" class="iq-menu">
                 <li>
                    <a href="#PMT" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="ri-book-line"></i><span>Quản Lí Phiếu Mượn Trả </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="PMT" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a routerLink="../PhieuMuon"><i class="ri-book-line"></i>Phiếu Mượn </a></li>
                       <li><a href="TablePhieuTra"><i class="ri-book-line"></i>Phiếu Trả</a></li>
                       <li><a href="/PhieuPhat"><i class="ri-book-line"></i>Phiếu Phạt</a></li>
                    </ul>
                 </li>
                 <li class=" active-menu">
                    <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="admin" class="iq-submenu collapse " data-parent="#iq-sidebar-toggle">
                       <li class=""><a  routerLink="../DashboardAdmin"><i class="las la-house-damage"></i>Bảng điều khiển</a></li>
                       <li><a href="admin-category.html"><i class="ri-function-line"></i>Danh sách danh mục</a></li>
                       <li ><a routerLink="../AuthorsAdmin"><i class="ri-book-line"></i>Tác giả</a></li>
                       <li ><a routerLink="../bookadmin"><i class="ri-file-pdf-line"></i>Sách</a></li>
                       <li ><a routerLink="../ListkhoAdmin"><i class="ri-file-pdf-line"></i>Kho</a></li>
                       <li ><a routerLink="../BanSaoSachList"><i class="ri-file-pdf-line"></i>Bản Cứng Sách</a></li>
                       <li ><a routerLink="../AdminListTheloai"><i class="ri-file-pdf-line"></i>Thể loại</a></li>
                       <li ><a routerLink="../testBarcode"><i class="ri-file-pdf-line"></i>Quét mã vạch</a></li>
                    </ul>
                 </li>
                 <li>
                  <a href="#userinfo" 
                  class="iq-waves-effect" 
                  (click)="toggleCollapse($event)" 
                  aria-expanded="false">
                  <span class="ripple rippleEffect"></span>
                  <i class="las la-user-tie iq-arrow-left"></i>
                  <span>Nhân Viên</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
               <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a routerLink="../Profileadmin"><i class="las la-id-card-alt"></i>Nhân Viên Profile</a></li>
                  <li><a routerLink="../ProfileEditadmin"><i class="las la-edit"></i>Nhân Viên Edit</a></li>
                  <li><a routerLink="../AddUserComponentadmin"><i class="las la-plus-circle"></i>Nhân Viên Add</a></li>
                  <li><a routerLink="../UserListadmin"><i class="las la-th-list"></i>Nhân Viên List</a></li>
               </ul>
                 </li>
               
             
                
                
              </ul>
           </nav>
           <div id="sidebar-bottom" class="p-3 position-relative">
              <div class="iq-card">
                 <div class="iq-card-body">
                    <div class="sidebarbottom-content">
                       <div class="image"><img src="images/page-img/side-bkg.png" alt=""></div>                           
                       <button type="submit" class="btn w-100 btn-primary mt-4 view-more">Become Membership</button>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
