       <!-- Sidebar  -->
       <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
           <a href="index.html" class="header-logo">
              <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
              <div class="logo-title">
                 <span class="text-primary text-uppercase">BookLand</span>
              </div>
           </a>
           <div class="iq-menu-bt-sidebar">
              <div class="iq-menu-bt align-self-center">
                 <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                 </div>
              </div>
           </div>
        </div>
        <div id="sidebar-scrollbar">
           <nav class="iq-sidebar-menu">
              <ul id="iq-sidebar-toggle" class="iq-menu">
                 <li>
                    <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span class="menu-text">Shop</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="index.html"><i class="las la-house-damage"></i><span class="menu-text">Home Page</span></a></li>
                       <li><a href="category.html"><i class="ri-function-line"></i><span class="menu-text">Category Page</span></a></li>
                    </ul>
                 </li>
                 <li class=" active-menu">
                    <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span class="menu-text">Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="admin" class="iq-submenu collapse " data-parent="#iq-sidebar-toggle">
                       <li ><a routerLink="../DashboardAdmin"><i class="las la-house-damage"></i><span class="menu-text">Bảng điều khiển</span></a></li>
                       <li ><a routerLink="../"><i class="ri-function-line"></i><span class="menu-text">Danh sách danh mục</span></a></li>
                       <li ><a routerLink="../AuthorsAdmin"><i class="ri-book-line"></i><span class="menu-text">Tác giả</span></a></li>
                       <li ><a routerLink="../AdminListTheloai"><i class="ri-file-pdf-line"></i><span class="menu-text">Thể Loại</span></a></li>
                       <li ><a routerLink="../bookadmin"><i class="ri-file-pdf-line"></i><span class="menu-text">Sách</span></a></li>
                    </ul>
                 </li>

                 <li class=" active-menu">
                  <a href="#nhanvien" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span class="menu-text">Nhân Viên</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul id="nhanvien" class="iq-submenu collapse " data-parent="#iq-sidebar-toggle"> 
                     <li ><a routerLink="../tableNhanVien"><i class="las la-house-damage"></i><span class="menu-text">Quản Lý Nhân Viên</span></a></li>
                     <li ><a routerLink="../tablePhieuMuon"><i class="ri-function-line"></i><span class="menu-text">Phiếu Mượn</span></a></li>
                     <li ><a routerLink="../tablePhieuTra"><i class="ri-book-line"></i><span class="menu-text">Phiếu Trả</span></a></li>
                     <li ><a routerLink="../tablePhieuPhat"><i class="ri-file-pdf-line"></i><span class="menu-text">Phiếu Phạt</span></a></li>
                  </ul>
                  </li>

                 <li>
                    <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span class="menu-text">User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" >
                       <li><a  routerLink="../Profileadmin" ><i class="las la-id-card-alt"></i><span class="menu-text">Thông Tin Người Dùng</span></a></li>
                       <li><a href="../UserListadmin"><i class="las la-th-list"></i><span class="menu-text"> Người Dùng </span></a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-elementor iq-arrow-left"></i><span class="menu-text">UI Elements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li class="elements">
                          <a href="#sub-menu" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span class="menu-text">UI Kit</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="sub-menu" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="ui-colors.html"><i class="las la-palette"></i>colors</a></li>
                             <li><a href="ui-typography.html"><i class="las la-keyboard"></i>Typography</a></li>
                             <li><a href="ui-alerts.html"><i class="las la-tag"></i>Alerts</a></li>
                          </ul>
                       </li>
                       <li class="form">
                          <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-wpforms"></i><span class="menu-text">Forms</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="forms" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="form-layout.html"><i class="las la-book"></i>Form Elements</a></li>
                             <li><a href="form-validation.html"><i class="las la-edit"></i>Form Validation</a></li>
                             <li><a href="form-switch.html"><i class="las la-toggle-off"></i>Form Switch</a></li>
                          </ul>
                       </li>
                       <li>
                          <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-table-line"></i><span class="menu-text">Table</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="tables" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="tables-basic.html"><i class="ri-table-line"></i>Basic Tables</a></li>
                             <li><a href="data-table.html"><i class="ri-database-line"></i>Data Table</a></li>
                             <li><a href="table-editable.html"><i class="ri-refund-line"></i>Editable Table</a></li>
                          </ul>
                       </li>
                    </ul>
                 </li>
                 <li>
                    <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span class="menu-text">Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li>
                          <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span class="menu-text">Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="authentication" class="iq-submenu collapse" data-parent="#pages">
                             <li><a href="sign-in.html"><i class="las la-sign-in-alt"></i><span class="menu-text">Đăng Nhập (Login)</span></a></li>
                             <li><a href="sign-up.html"><i class="ri-login-circle-line"></i><span class="menu-text">Đăng Ký (Register)</span></a></li>
                             <li><a href="pages-recoverpw.html"><i class="ri-record-mail-line"></i><span class="menu-text">Khôi phục mật khẩu</span></a></li>
                             <li><a href="pages-confirm-mail.html"><i class="ri-file-code-line"></i><span class="menu-text">Xác nhận Mail</span></a></li>
                          </ul>
                       </li>
                    </ul>
                 </li> 
              </ul>
           </nav>
        </div>
     </div>
