<app-aside-admin></app-aside-admin>

<!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">

                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        
                        <div class="iq-card-header d-flex justify-content-between align-items-center">
                           <h4 class="card-title mb-0">Thông tin</h4>
                        </div>  

                        <div class="iq-card-body pb-0">
                           <div class="description-contens align-items-top row">
                             <!-- Cột ảnh -->
                             <div class="col-md-6 d-flex">
                               <!-- Ảnh nhỏ bên trái -->
                               <div class="col-3">
                                 <ul id="description-slider-nav" class="list-inline p-0 m-0 d-flex flex-column align-items-start">
                                   <li *ngFor="let image of Images; let i = index" class="mb-2">
                                     <a href="javascript:void(0);" (click)="setMainImage(image.imageUrl)">
                                       <img 
                                         [src]="image.imageUrl" 
                                         class="img-thumbnail rounded" 
                                         style="width: 80px; height: 80px; object-fit: cover;" 
                                         [alt]="'Ảnh sách nhỏ ' + (i + 1)" />
                                     </a>
                                   </li>
                                 </ul>
                               </div>
                               <!-- Ảnh lớn bên phải -->
                               <div class="col-9 mb-5">
                                 <img 
                                   [src]="mainImage || sach.imageUrl" 
                                   class="img-fluid rounded shadow" 
                                   style="max-height: 400px; object-fit: contain; width: 100%;" 
                                   alt="Ảnh sách lớn" />
                               </div>
                               
                             </div>
                         
                             <!-- Cột thông tin sách -->
                             <div class="col-md-6">
                               <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height">
                                 <div class="iq-card-body p-0" >
                                   <span class="font-size-20 text-warning">
                                     <i class="fa fa-star mr-1"></i>
                                     <i class="fa fa-star mr-1"></i>
                                     <i class="fa fa-star mr-1"></i>
                                     <i class="fa fa-star mr-1"></i>
                                     <i class="fa fa-star"></i>
                                   </span>
                                   <h4 class="text-primary mb-4">
                                     Tên Sách: <span style="color: black;">{{ sach?.sach?.tenSach }}</span>
                                   </h4>
                                   <h5 class="text-primary mb-4">
                                     Tác Giả: <span style="color: black;">{{ sach?.sach?.tacGia.tenTacGia}}</span>
                                   </h5>
                                   <div class="mb-4 d-flex align-items-center">                                       
                                     <a href="checkout.html" class="btn btn-primary view-more mr-2">Thêm vào giỏ hàng</a>
                                     <a href="book-pdf.html" class="btn btn-primary view-more mr-2">Mua ngay</a>
                                   </div>
                                   <div class="mb-3">
                                     <a href="#" class="text-body text-center">
                                       <span class="avatar-30 rounded-circle bg-primary d-inline-block mr-2">
                                         <i class="ri-heart-fill"></i>
                                       </span>
                                       Thêm vào danh sách yêu thích
                                     </a>
                                   </div>
                                   <div class="iq-social d-flex align-items-center">
                                     <h5 class="mr-2">Chia sẻ:</h5>
                                     <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                                       <li><a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook"><i class="fa fa-facebook"></i></a></li>
                                       <li><a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter"><i class="fa fa-twitter"></i></a></li>
                                       <li><a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube"><i class="fa fa-youtube-play"></i></a></li>
                                       <li><a href="#" class="avatar-40 rounded-circle bg-primary pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                     </ul>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                         
                     </div>

                  </div>

                  <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                           <div class="iq-header-title">
                              <h4 class="card-title mb-0">Sản phẩm tương tự</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <a href="category.html" class="btn btn-sm btn-primary view-more">Xem thêm</a>
                           </div>
                        </div>
                        <div class="iq-card-body single-similar-contens" *ngFor="let book of coverImages">
                           <ul id="single-similar-slider" class="list-inline p-0 mb-0 row">
                              <li class="col-md-3">
                                 <div class="row align-items-center">
                                    <div class="col-5">
                                       <div class="position-relative image-overlap-shadow">
                                          <a href="javascript:void();">
                                             <img class="img-fluid rounded w-100" [src]="book.imageUrl" alt="">
                                          </a>
                                          <div class="view-book">
                                             <a [routerLink]="['/ChiTiet', book.sach.maSach]" class="btn btn-sm btn-white">Xem sách</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-7 pl-0">
                                       <h6 class="mb-2">D. Trump - Đừng Bao Giờ Bỏ Cuộc..</h6>
                                       <p class="text-body">Tác giả : Zack Lee</p>
                                       <a href="#" class="text-dark" tabindex="-1">Đọc ngay<i class="ri-arrow-right-s-line"></i></a>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>