<app-aside-admin></app-aside-admin>
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
           <div class="row profile-content">
              <div class=" col-sm-12" *ngFor="let hoivien of hoivienList ;let i = index">
                 <div class="col-sm-6 iq-card">
                    <div class="iq-card-body profile-page">
                       <div class="profile-header">
                          <div class="cover-container text-center">
                             <img src="images/user/1.jpg" alt="profile-bg" class="rounded-circle img-fluid">
                             <div class="profile-detail mt-3">
                                <h3>{{hoivien.hoTen}}</h3>
                                
                                
                             </div>
                             <div class="iq-social d-inline-block align-items-center">
                                <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                                   <li>
                                      <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                   </li>
                                   <li>
                                      <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                   </li>
                                   <li>
                                      <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                   </li>
                                   <li >
                                      <a href="#" class="avatar-40 rounded-circle bg-primary pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                   </li>
                                </ul>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>


                 <div class="col-sm-6 iq-card">
                    <div class="iq-card-header d-flex justify-content-between align-items-center mb-0">
                       <div class="iq-header-title">
                          <h4 class="card-title mb-0">Chi Tiết Thông Tin người dùng</h4>
                       </div>
                    </div> 
                    <div class="iq-card-body">
                       <ul class="list-inline p-0 mb-0">
                          <li>
                             <div class="row align-items-center justify-content-between mb-3">
                                <div class="col-sm-6">
                                   <h6>Họ và Tên</h6>                                       
                                </div>
                                <div class="col-sm-6">
                                   <p class="mb-0">{{hoivien.hoTen}}</p>                                       
                                </div>
                             </div>
                          </li>
                          <li>
                             <div class="row align-items-center justify-content-between mb-3">
                                <div class="col-sm-6">
                                   <h6>Địa chỉ</h6>                                       
                                </div>
                                <div class="col-sm-6">
                                   <p class="mb-0">{{hoivien.diaChi}}</p>                                       
                                </div>
                             </div>
                          </li>
                          <li>
                             <div class="row align-items-center justify-content-between mb-3">
                                <div class="col-sm-6">
                                   <h6>Phone</h6>                                       
                                </div>
                                <div class="col-sm-6">
                                   <p class="mb-0">{{hoivien.soDienThoai}}</p>                                       
                                </div>
                             </div>
                          </li>
                          <li>
                             <div class="row align-items-center justify-content-between mb-3">
                                <div class="col-sm-6">
                                   <h6>Email</h6>                                       
                                </div>
                                <div class="col-sm-6">
                                   <p class="mb-0">{{hoivien.email}}</p>                                       
                                </div>
                             </div>
                          </li>
                          <li>
                             <div class="row align-items-center justify-content-between mb-3">
                                <div class="col-sm-6">
                                   <h6>Mật Khẩu</h6>                                       
                                </div>
                                <div class="col-sm-6">
                                   <p  class="mb-0">{{hoivien.matKhau}}</p>                                       
                                </div>
                             </div>
                          </li>  
                          <li>
                           <div class="row align-items-center justify-content-between mb-3">
                              <div class="col-sm-6">
                                 <h6>Tiền Nạp</h6>                                       
                              </div>
                              <div class="col-sm-6">
                                 <p  class="mb-0">{{hoivien.tienNap}}.000VND</p>                                       
                              </div>
                           </div>
                        </li>                            
                          <li>
                           <a class="bg-primary"  routerLink="../" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="edithoivien(hoivien)"><i class="ri-pencil-line"></i> Chỉnh sửa</a>
                          </li>
                       </ul>
                    </div>
                 </div>


                 
              </div>


           </div>
        </div>
     </div>
