<app-aside-admin></app-aside-admin>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Danh sách người dùng</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <a routerLink="../AddUserComponentadmin" class="btn btn-primary">Thêm người dùng</a>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="data-tables table table-striped table-bordered" style="width:100%">
                                 <thead>
                                    <tr>
                                       <th style="width: 10%;">STT</th>
                                       <th style="width: 15%;">Tài khoản</th>
                                       <th style="width: 15%;">Mã Hội Viên</th>
                                       <th style="width: 10%;">Họ và tên</th>
                                       <th style="width: 15%;">Email</th>
                                       <th style="width: 10%;">SĐT</th>
                                       <th style="width: 15%;">Mật khẩu</th>
                                       <th style="width: 15%;">Địa chỉ</th>
                                       <th style="width: 15%;">Thời gian đăng ký</th>
                                       <th style="width: 10%;"></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor="let hoivien of hoivienList; let i = index">
                                       <td>{{ i + 1 }}</td>
                                       <td>{{hoivien.taiKhoanHV}}</td>
                                       <td>{{hoivien.maHV}}</td>
                                       <td>{{hoivien.hoTen}}</td>
                                       <td>{{hoivien.email}}</td>
                                       <td>{{hoivien.soDienThoai}}</td>
                                       <td>{{hoivien.matKhau}}</td>
                                       <td>{{hoivien.diaChi}}</td>
                                       <td>{{hoivien.thoiGianDangky|date:'dd/MM/yyyy'}}</td>
                                       <td><a class="bg-primary"  routerLink="../" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="edithoivien(hoivien)"><i class="ri-pencil-line"></i> Chỉnh sửa</a></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
